<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dankmeme.globed2/button-secret.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{0,0},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{31,28}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>textureRect</key>
			<string>{{36,0},{31,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{31,28}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>textureRect</key>
			<string>{{69,0},{31,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/friend-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{146,30}</string>
			<key>spriteSourceSize</key>
			<string>{150,30}</string>
			<key>textureRect</key>
			<string>{{102,0},{146,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/friend-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{49,36}</string>
			<key>spriteSourceSize</key>
			<string>{50,36}</string>
			<key>textureRect</key>
			<string>{{250,0},{49,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-ban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{301,0},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-chat.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,43}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{346,0},{47,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{36,30},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-hide-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{81,32},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite-menu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{130,32},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,19}</string>
			<key>spriteSourceSize</key>
			<string>{26,19}</string>
			<key>textureRect</key>
			<string>{{166,32},{26,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-kick-all.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{194,32},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kick.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{243,38},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kofi.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{292,43},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-leave-server.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{0,35},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-level-list.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{337,45},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-logout.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{29,31}</string>
			<key>spriteSourceSize</key>
			<string>{29,31}</string>
			<key>textureRect</key>
			<string>{{130,67},{29,31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,39}</string>
			<key>spriteSourceSize</key>
			<string>{38,39}</string>
			<key>textureRect</key>
			<string>{{0,73},{38,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-person.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,36}</string>
			<key>spriteSourceSize</key>
			<string>{33,36}</string>
			<key>textureRect</key>
			<string>{{41,73},{33,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-players.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,40}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{79,80},{47,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-refresh-square.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{163,80},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-server-folder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{199,80},{43,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-show-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{242,86},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-teleport.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,56}</string>
			<key>spriteSourceSize</key>
			<string>{54,56}</string>
			<key>textureRect</key>
			<string>{{337,88},{54,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{291,86},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unmute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,39}</string>
			<key>spriteSourceSize</key>
			<string>{38,39}</string>
			<key>textureRect</key>
			<string>{{0,113},{38,39}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unwhitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{128,115},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-voice-chat-guide.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{41,122},{43,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-whitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{86,122},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-bottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{389,44}</string>
			<key>spriteSourceSize</key>
			<string>{389,51}</string>
			<key>textureRect</key>
			<string>{{0,165},{389,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{24,64}</string>
			<key>spriteSourceSize</key>
			<string>{29,64}</string>
			<key>textureRect</key>
			<string>{{0,211},{24,64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/list-border-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{394,46}</string>
			<key>spriteSourceSize</key>
			<string>{394,53}</string>
			<key>textureRect</key>
			<string>{{0,237},{394,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/menuicon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{0,285},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/pencil.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{52,285},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-admin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{35,398},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-booster.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{69,398},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-cc1-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{103,398},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-dev.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{137,398},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-helper.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{171,398},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-mod.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{205,398},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-owner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{239,398},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-supporter.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{273,398},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/role-user.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{307,398},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/secret-question-mark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,34}</string>
			<key>spriteSourceSize</key>
			<string>{33,34}</string>
			<key>textureRect</key>
			<string>{{81,285},{33,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/shadow-thing-idk.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,23}</string>
			<key>spriteSourceSize</key>
			<string>{77,23}</string>
			<key>textureRect</key>
			<string>{{117,285},{77,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{196,285},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-yellow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{222,285},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{248,285},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/status-invisible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{274,285},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/status-visible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,33}</string>
			<key>spriteSourceSize</key>
			<string>{32,33}</string>
			<key>textureRect</key>
			<string>{{309,285},{32,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/tab-gradient-mask.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{91,30}</string>
			<key>spriteSourceSize</key>
			<string>{92,32}</string>
			<key>textureRect</key>
			<string>{{117,311},{91,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/tab-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{394,53}</string>
			<key>spriteSourceSize</key>
			<string>{394,53}</string>
			<key>textureRect</key>
			<string>{{0,343},{394,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/whitelist-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,29}</string>
			<key>spriteSourceSize</key>
			<string>{33,29}</string>
			<key>textureRect</key>
			<string>{{0,398},{33,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dankmeme.globed2/globedsheet1.png</string>
		<key>size</key>
		<string>{394,448}</string>
		<key>textureFileName</key>
		<string>dankmeme.globed2/globedsheet1.png</string>
	</dict>
</dict>
</plist>