<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dankmeme.globed2/button-secret.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{107,97}</string>
			<key>spriteSourceSize</key>
			<string>{124,124}</string>
			<key>textureRect</key>
			<string>{{133,0},{107,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{111,97}</string>
			<key>spriteSourceSize</key>
			<string>{124,124}</string>
			<key>textureRect</key>
			<string>{{242,0},{111,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/friend-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-8,0}</string>
			<key>spriteSize</key>
			<string>{585,120}</string>
			<key>spriteSourceSize</key>
			<string>{600,120}</string>
			<key>textureRect</key>
			<string>{{355,0},{585,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/friend-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{183,143}</string>
			<key>spriteSourceSize</key>
			<string>{200,144}</string>
			<key>textureRect</key>
			<string>{{942,0},{183,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-ban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{1127,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-chat.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{182,155}</string>
			<key>spriteSourceSize</key>
			<string>{190,190}</string>
			<key>textureRect</key>
			<string>{{1295,0},{182,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{133,99},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-hide-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{301,122},{180,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite-menu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{485,122},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{100,74}</string>
			<key>spriteSourceSize</key>
			<string>{104,77}</string>
			<key>textureRect</key>
			<string>{{1479,0},{100,74}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kick-all.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{180,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{618,122},{180,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kick.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,190}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{802,145},{184,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kofi.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{1295,157},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-leave-server.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{0,130},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-level-list.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{994,165},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-logout.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{114,116}</string>
			<key>spriteSourceSize</key>
			<string>{118,124}</string>
			<key>textureRect</key>
			<string>{{1162,165},{114,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,158}</string>
			<key>spriteSourceSize</key>
			<string>{152,158}</string>
			<key>textureRect</key>
			<string>{{0,264},{152,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-person.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{115,131}</string>
			<key>spriteSourceSize</key>
			<string>{133,144}</string>
			<key>textureRect</key>
			<string>{{485,252},{115,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-players.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{176,141}</string>
			<key>spriteSourceSize</key>
			<string>{190,190}</string>
			<key>textureRect</key>
			<string>{{160,304},{176,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-refresh-square.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1162,281},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-server-folder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{618,304},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-show-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{1295,322},{180,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-teleport.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{786,331},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{338,369},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unmute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,158}</string>
			<key>spriteSourceSize</key>
			<string>{152,158}</string>
			<key>textureRect</key>
			<string>{{1001,330},{152,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unwhitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{160,141}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{0,418},{160,141}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-voice-chat-guide.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{143,447},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-whitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{157,141}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{506,469},{157,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-bottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,15}</string>
			<key>spriteSize</key>
			<string>{1556,169}</string>
			<key>spriteSourceSize</key>
			<string>{1556,206}</string>
			<key>textureRect</key>
			<string>{{0,612},{1556,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,0}</string>
			<key>spriteSize</key>
			<string>{88,256}</string>
			<key>spriteSourceSize</key>
			<string>{119,256}</string>
			<key>textureRect</key>
			<string>{{0,783},{88,256}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/list-border-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-16}</string>
			<key>spriteSize</key>
			<string>{1576,175}</string>
			<key>spriteSourceSize</key>
			<string>{1576,215}</string>
			<key>textureRect</key>
			<string>{{0,873},{1576,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/menuicon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,200}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{0,1050},{200,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/pencil.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{106,108}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{202,1050},{106,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-admin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,130}</string>
			<key>textureRect</key>
			<string>{{129,1474},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-booster.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,130}</string>
			<key>textureRect</key>
			<string>{{261,1474},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-cc1-winner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,130}</string>
			<key>textureRect</key>
			<string>{{393,1474},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-dev.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,130}</string>
			<key>textureRect</key>
			<string>{{525,1474},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-helper.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,130}</string>
			<key>textureRect</key>
			<string>{{657,1474},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-mod.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,130}</string>
			<key>textureRect</key>
			<string>{{789,1474},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-owner.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,130}</string>
			<key>textureRect</key>
			<string>{{921,1474},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-supporter.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,130}</string>
			<key>spriteSourceSize</key>
			<string>{128,130}</string>
			<key>textureRect</key>
			<string>{{1053,1474},{128,130}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/role-user.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,200}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{1185,1474},{200,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/secret-question-mark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{312,1050},{132,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/shadow-thing-idk.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{309,94}</string>
			<key>spriteSourceSize</key>
			<string>{310,94}</string>
			<key>textureRect</key>
			<string>{{446,1050},{309,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,82}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{757,1050},{91,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-yellow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,82}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{850,1050},{91,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,82}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{943,1050},{91,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/status-invisible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{130,132}</string>
			<key>textureRect</key>
			<string>{{1036,1050},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/status-visible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{130,132}</string>
			<key>textureRect</key>
			<string>{{1169,1050},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/tab-gradient-mask.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{344,109}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{446,1146},{344,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/tab-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1576,215}</string>
			<key>spriteSourceSize</key>
			<string>{1576,215}</string>
			<key>textureRect</key>
			<string>{{0,1257},{1576,215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/whitelist-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,-1}</string>
			<key>spriteSize</key>
			<string>{127,115}</string>
			<key>spriteSourceSize</key>
			<string>{133,118}</string>
			<key>textureRect</key>
			<string>{{0,1474},{127,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dankmeme.globed2/globedsheet1-uhd.png</string>
		<key>size</key>
		<string>{1576,1674}</string>
		<key>textureFileName</key>
		<string>dankmeme.globed2/globedsheet1-uhd.png</string>
	</dict>
</dict>
</plist>